<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('PROBE-0') }}</label>
        <div class="controls">
            <p data-bind="html: settings.plugins.octotemp.probe-0">
        </div>
    </div>
</form>